<div class="container">
    <div class="row justify-content-center ">
      <h2 class="col-6 text-center top-margin-10">Software</h2>
    </div>
    <div class="row justify-content-center">
      <ng-container *ngFor="let soft of software | async">
          <app-item class="col-6 mt-3 mb-3 d-flex align-items-stretch" cardclass="bg-light-dark" 
          description="{{(soft.description.length > 200) ? (soft.description | slice:0:200) + '...' : soft.description}}"
          title="{{soft.title}}" link="{{soft.link}}" link-title="Go to project" link-type="external"></app-item>
      </ng-container>
    </div>
  </div>