<div class="container">
    <div class="row justify-content-center">
        <app-name class="col-10"></app-name>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-8">
            <div class="row text-center">
                <ng-container *ngFor="let profile of profiles">
                    <app-icon class="col-2 mx-auto" [profile]="profile"></app-icon>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="mx-auto bg-dark col-10 border-0" [innerHtml]="bio | async"></div>
    </div>
</div>
