<nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="publications" (click)="closeNavbar()">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="theses" (click)="closeNavbar()">Advised Theses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="projects" (click)="closeNavbar()">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="lectures" (click)="closeNavbar()">Lectures</a>
            </li>
        </ul>
    </div>
  </nav>
