/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body, main {
    margin: 0;
    height: 100%;
    font-size: 1rem;
}

@include media-breakpoint-up(xs) {
    html {
        font-size: 0.8rem;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}