@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.bg-light-dark {
    background-color: #42484e !important;
}

.flex-fill {
    flex:1 1 auto;
 }

@include media-breakpoint-up(xs) {
    html {
        font-size: 0.6rem;
    }
}


@include media-breakpoint-up(sm) {
    html {
        font-size: 0.7rem;
    }
}
  
@include media-breakpoint-up(md) {
    html {
        font-size: 0.8rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}